.SpotDetailsHeaderWrapper {
    display: flex;
    justify-content: center;
}

.SpotDetailsHeaderWrapperNext {
    max-width: 1120px;
    box-sizing: content-box;
    width: 100%
}

.SpotDetailsWrapper {
    display: flex;
    justify-content: center;
}

.SpotDetails {
    padding-top: 5px;
    max-width: 1120px;
    box-sizing: content-box;
}

.SpotDetailsLine {
    height: 1px;
    background-color: #dddddd;
    margin-bottom: 24px;
    margin-top: 24px;
}

.SpotDetailsLine2 {
    height: 1px;
    background-color: #dddddd;
    margin-bottom: 24px;
    margin-top: 24px;
}

.spotDetailsHeader {
    max-width: 1120px;
    box-sizing: content-box;
}

@media screen and (min-width: 1128px) {
    .spotDetailsPadding {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 744px) and (max-width: 1127px) {
    .spotDetailsPadding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 743px) {
    .spotDetailsPadding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* ---------------------Spot images------------------------------ */

.SpotImages {
    display: flex;

    height: 51vh;
    width: 100%;

    margin-top: 18px;
    gap: 8px;
    border-radius: 12.5px;
    overflow: hidden;
}

.SpotImagesLeft {
    object-fit: cover;
    width: 50%;
}

.SpotImagesRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.SpotImagesRightRow {
    display: flex;
    height: 50%;
    gap: 8px;
}

.SpotImagesRightRow>img {
    object-fit: cover;
    width: 50%;
}

/* ---------------------Spot details------------------------------ */

.SpotDetailsBody {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.DescBook {
    display: flex;
    gap: 80px;
}

h2 {
    font-size: 21px;
    color: black;
    font-family: 'Poppins-light', sans-serif;
}
