.SpotGrid {
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
    padding-top: 150px;
}

.SpotGrid:hover {
    cursor: pointer;
    
}

.SpotGridItem {
    width: 100%;
}

.SpotGridItem>img {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    transition: filter 0.3s ease;  /* Smooth transition for the filter effect */
}

.SpotGridItem img {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    transition: filter 0.3s ease;  /* Smooth transition for the filter effect */
}

.SpotGridItem img:hover {
    filter: brightness(1.2);  /* Increase brightness by 20% on hover */
}

.TextCenter{
    text-align: center;
    width: 100%;
    line-height: 46px;
    position: relative;
    top: 94px;
}
.EditDelete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.EditDelete div{
    cursor: pointer;
    margin: 0 10px;
}

@media screen and (min-width: 1880px) {
    .homepageHeader {
        padding-left: 80px;
        padding-right: 80px;
    }

    .SpotGrid {
        padding-top: 104px;
        padding-left: 80px;
        padding-right: 80px;
        grid-template-columns: repeat(6, 1fr);
    }

    .SpotGridItem {
        height: 18.6vw;
    }

    .SpotGridItem>img {
        height: 72%;
    }
}

@media screen and (min-width: 1640px) and (max-width: 1879px) {
    .homepageHeader {
        padding-left: 80px;
        padding-right: 80px;
    }

    .SpotGrid {
        padding-top: 104px;
        padding-left: 80px;
        padding-right: 80px;
        grid-template-columns: repeat(5, 1fr);
    }

    .SpotGridItem {
        height: 22.0vw;
    }

    .SpotGridItem>img {
        height: 72.0%;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1639px) {
    .homepageHeader {
        padding-left: 80px;
        padding-right: 80px;
    }

    .SpotGrid {
        padding-top: 104px;
        padding-left: 80px;
        padding-right: 80px;
        grid-template-columns: repeat(4, 1fr);
    }

    .SpotGridItem {
        height: 26.9vw;
    }

    .SpotGridItem>img {
        height: 73.5%;
    }
}

@media screen and (min-width: 1128px) and (max-width: 1439px) {
    .homepageHeader {
        padding-left: 40px;
        padding-right: 40px;
    }

    .SpotGrid {
        padding-top: 104px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(4, 1fr);
    }

    .SpotGridItem {
        height: 28.0vw;
    }

    .SpotGridItem>img {
        height: 75.0%;
    }
}

@media screen and (min-width: 950px) and (max-width: 1127px) {
    .homepageHeader {
        padding-left: 40px;
        padding-right: 40px;
    }

    .SpotGrid {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(3, 1fr);
    }

    .SpotGridItem {
        height: 36.5vw;
    }

    .SpotGridItem>img {
        height: 75.6%;
    }
}

@media screen and (min-width: 744px) and (max-width: 949px) {
    .homepageHeader {
        padding-left: 40px;
        padding-right: 40px;
    }

    .SpotGrid {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .SpotGridItem {
        height: 54.0vw;
    }

    .SpotGridItem>img {
        height: 75.5%;
    }
}

@media screen and (min-width: 550px) and (max-width: 744px) {
    .homepageHeader {
        padding-left: 24px;
        padding-right: 24px;
    }

    .SpotGrid {
        padding-top: 120px;
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    .SpotGridItem {
        height: 54.0vw;
    }

    .SpotGridItem>img {
        height: 75.5%;
    }
}

@media screen and (max-width: 549px) {
    .homepageHeader {
        padding-left: 24px;
        padding-right: 24px;
    }

    .SpotGrid {
        padding-top: 120px;
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    .SpotGridItem {
        height: 110.0vw;
    }

    .SpotGridItem>img {
        height: 75.5%;
    }
}

.SpotGridItemDescription {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    color: #222222;
}

.SpotGridItemFirstRow {
    display: flex;
    justify-content: space-between;
}

.SpotGridItemSubtext {
    color: #5c5c5c;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -4px;
}

.SpotGridItemStar {
    font-size: 11px;
}

.SpotGridItemStarRating {
    display: flex;
    align-items: center;
    gap: 3.5px;
}

.SpotGridItemPrice {
    margin-top: 4px;
}


.SpotGridItem {
    overflow: hidden;  /* Ensure the image doesn't spill out of the container */
}

.SpotGridItem img {
    transition: transform 3s ease;  /* Smooth transition for the panning effect */
    /* transform: scale(1.1);   */
}

.SpotGridItem img:hover {
    filter: brightness(1.2);  /* Maintain the brightness effect */
    transform: scale(1.1) translateY(-3%);  /* Translate the image upwards within the container */
}


.no-matches {
    font-size: 24px;
    color: #5c5c5c;
    text-align: center;
    margin-top: 40px;
}