.logInButtons>button {
    width: 50%;
}

.loginForm {
    /* height: 618px; */
    width: 568px;
    display: flex;
    flex-direction: column;
}

#modal-content {
    border-radius: 10px;
}

.loginForm>.logInHeader {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0px;
    margin: 0px;
}

.loginForm>.logInHeader img {
    margin-left: 25px;
    cursor: pointer;
}

.loginForm>.logInHeader div {
    margin-left: 225px;
}

.loginTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.loginButton {
    height: 50px;
    width: 520px;
    cursor: pointer;
    margin-bottom: 30px;

    border-style: none;
    border-radius: 10px;

    font-weight: bold;
    font-size: 16px;

    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(229, 30, 78), rgb(214, 4, 101));

    align-self: center;
}

.formErrors {
    margin-left: 50px;
    margin-bottom: 30px;
    /* margin-top: 30px; */
    color: red;
}

.spotErrors {
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: red;
}

.field {
    width: 520px;
    height: 50px;
    align-self: center;
    border: 1px solid #afafaf;
    text-indent: 10px;
    font-size: 16px;
}

textarea.field {
    padding-top: 10px;
}

.field.firstField {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.field.lastField {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.demoButton {
    border-style: none;
    background-color: white;
    font-size: 13px;
    align-self: flex-start;
    margin-left: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
