@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.createASpot {
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 3px;

    animation: slideInFromLeft 0.3s ease-out forwards;
}

.rightHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}
