@keyframes colorChange {
    0% {
        color: #ff385c;
    }
    25% {
        color: #95226f;  /* Example color: Blue */
    }
    50% {
        color: #aa7fa3;  /* Example color: Green */
    }
    75% {
        color: #edb8ff;  /* Example color: Yellow */
    }
    100% {
        color: #ff385c;
    }
}




.headerWrapper {
    top: 0;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 16px;
    background-color: white;
    align-items: center;
}

.line {
    height: 1px;
    background-color: #ebebeb;
}


#logo {
    font-family: 'Poppins', sans-serif;
    color: #ff385c;
    font-size: 20px;
    padding-top: 2.5px;
    font-weight: 500;
    display: none;
    animation: colorChange 5s infinite;
}

.leftHeader {
    display: flex;
    gap: 4px;
}

@media screen and (min-width: 1128px) {
    #logo {
        display: block;
    }
}
