  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
    width: 100%;
    box-sizing: border-box;
}

.app-logo {
    position: absolute;
    top: 10;
    left: 10;
    height: 50px; /* Adjust size as needed */
    cursor: pointer;
}

.login-button {
    background-color: #007BFF; /* Adjust color as needed */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Add hover effect */
    &:hover {
        background-color: #0056b3; /* Adjust hover color as needed */
    }
}


.menu-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}